.settings-button, .about-button {
  width: 125px;
  height: 125px;
  position: fixed;
  bottom: 0;
  cursor: pointer;
}

.settings-button {
  background-color: #F62459;
  border-top-right-radius: 125px;
  left: 0;
}

.about-button {
  background-color: #36DBD7;
  border-top-left-radius: 125px;
  right: 0;
}

.settings-button .button-icon {
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-size: 48px;
}

.about-button .button-icon {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 48px;
}

/* SWEET ALERT */

.see-github {
  text-decoration: none;
  color: #2196f3;
  font-weight: 600;
  display: flex;
}

/* OPTIONS */
.options-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.options-items:first-child {
  margin-top: 25px;
}

.options-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.options-item ion-icon {
  margin-bottom: 10px;
  font-size: 48px;
}

.active {
  background-color: #2B77C0;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  padding: 10px;
  color: white;
}