.game {
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;

  background-color: #1F3A93;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

svg {
  stroke: rgb(0, 0, 0);
  width: 501px;
  height: 501px;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

line {
  stroke: white;
}

ellipse {
  stroke: #F62459;
  stroke-width: 12.5;
}

path {
  stroke: #36DBD7;
  stroke-width: 12.5
}

@media (max-width: 525px) {
  svg {
    width: 300px;
    height: 300px;
  }
}